
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("./images/clock-pattern.png");
}

.main {
    background: #ccc;
    width: 450px;
    height: 165px;
    margin: 100px auto;
    position: relative;
    padding: 25px;
}

.badge {
    width: 90px;
    height: 38px;
    background: #e66337;
    font-family: sans-serif;
    color: white;
    padding:10px 5px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: -16px;
    left: 40%;
}

.clock {
    background: #EBEBEB;
    text-align: center;
    font-size: 60px;
    height: 110px;
    padding: 14px;
    font-family: Orbitron;
    border-radius: 4px;;
}